---
- name: Deploy Cloud app on the VM (calls the existing deploy playbook)
  hosts: all  # on se connecte directement à l'IP publique
  gather_facts: yes
  become: yes
  vars:
    ansible_ssh_pass: "P@ssw0rd2025!"
    repo_url: "https://github.com/Asatsukiii/Cloud.git"
    project_dir: "/home/azureuser/Cloud"
  tasks:
    - name: Installer dépendances & Docker (simplifié)
      apt:
        update_cache: yes
        name:
          - git
          - curl
          - ca-certificates
          - gnupg
          - lsb-release
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-compose-plugin
        state: present

    - name: Ajouter azureuser au groupe docker
      user:
        name: azureuser
        groups: docker
        append: yes

    - name: Cloner le dépôt GitHub
      git:
        repo: "{{ repo_url }}"
        dest: "{{ project_dir }}"
        version: main
        force: yes

    - name: Lancer les conteneurs Docker
      command: docker compose up -d
      args:
        chdir: "{{ project_dir }}"
