---
- name: Deploy 2048 Docker container on the VM
  hosts: all
  gather_facts: yes
  become: yes
  vars:
    ansible_ssh_pass: "P@ssw0rd2025!"
    docker_image: "evilroot/docker-2048"
    container_name: "docker-2048"
    exposed_port: 8080   # port sur la VM

  tasks:
    - name: Installer Docker
      apt:
        update_cache: yes
        name:
          - docker.io
        state: present


    - name: Pull de l'image Docker 2048
      community.docker.docker_image:
        name: "{{ docker_image }}"
        source: pull

    - name: Lancer le container Docker 2048
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ docker_image }}"
        state: started
        restart_policy: always
        published_ports:
          - published: 8080
            target: 80
            host_ip: 0.0.0.0

