---
- name: Open ports 80 and 8080 on Azure NSG
  hosts: localhost
  connection: local
  gather_facts: no
  collections:
    - azure.azcollection

  vars:
    rg_name: myResourceGroup
    nsg_name: myNetworkSecurityGroup
    ssh_source_prefix: "20.19.255.17/32"

  tasks:
    - name: Ensure NSG rules exist for 80 and 8080
      azure.azcollection.azure_rm_securitygroup:
        resource_group: "{{ rg_name }}"
        name: "{{ nsg_name }}"
        rules:
          - name: HTTP
            protocol: Tcp
            access: Allow
            direction: Inbound
            source_address_prefix: "{{ ssh_source_prefix }}"
            destination_address_prefix: "*"
            source_port_range: "*"
            destination_port_range: 80
            priority: 1002

          - name: HTTP-ALT
            protocol: Tcp
            access: Allow
            direction: Inbound
            source_address_prefix: "{{ ssh_source_prefix }}"
            destination_address_prefix: "*"
            source_port_range: "*"
            destination_port_range: 8080
            priority: 1003
        state: present
