name: CI devops 2025

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  test-backend:
    runs-on: ubuntu-24.04

    steps:
      # Step 1: Checkout your GitHub code
      - uses: actions/checkout@v4

      # Step 2: Setup Java JDK 21
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      # Step 3: Build and test with Maven
      - name: Build and test with Maven
        run: mvn clean verify
